:root{
    --color-bg: black;
    --color-text: #1dd123;
    --color-bg2: #0f0;
    --hover: #fff;
    --border-radius: 8px;
    --shadow-text: 0px 0px 15px var(var(--color-text));
    --shadow-box: 0px 0px 15px var(var(--color-text)),
    0px 0px 30px var(var(--color-text));

}
 /* body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
} */
header{
    border: 2px solid var(--color-text);
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}
/* header img{
    width: 100px;
}
.designWebRock{
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: #1dd123;
    width: 90px;
    height: 70px;
    place-items: center;
}
p{
    color: beige;
} */
h3{
    color: var(--color-text)
}
/* button{
    background-color: #1dd123;
}
a{
    color: #1dd123;
    text-decoration: none;
}
input{
    background-color: black;
    color: #1dd123;
}
select{
    background-color: black;
    color: #1dd123;
}
.bandas{
    display: flex;
}
.bandasAlone{
    border-width: 1px;
    border-style: solid;
    border-color: #1dd123;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    text-align: center;
}
#verMais{
    border-radius: 7px;
    border-style:solid;
    width: 200px;
    height: 30px;
}
#entrar{
    border-radius: 7px;
    border-style: solid;
    width: 60px;
    height: 40px;
} */ */
