body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    border-width: 1px;
    border-style: solid;
    border-color: #1dd123;
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 100px;
}
.designWebRock{
    border-width: 1px;
    border-style: solid;
    border-color: #1dd123;
    width: 90px;
    text-align: center;
}
p{
    color: beige;
}
h3{
    color: #1dd123;
}
button{
    background-color: #1dd123;
}
a{
    color: #1dd123;
    text-decoration: none;
}
input{
    background-color: black;
    color: #1dd123;
}
select{
    background-color: black;
    color: #1dd123;
}
.bandas{
    display: flex;
}
.bandasAlone{
    border-width: 1px;
    border-style: solid;
    border-color: #1dd123;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    text-align: center;
}
#verMais{
    border-radius: 5px;
    width: 200px;
    height: 30px;
}